<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <!-- Css files -->
    <title>Cash Back System</title>
    <!-- Icons -->
    <link href="__PUBLIC__/Admin/assets/css/icons.css" rel="stylesheet" />
    <!-- Bootstrap stylesheets (included template modifications) -->
    <link href="__PUBLIC__/Admin/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="__PUBLIC__/Home/css/common.css" rel="stylesheet" >

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="__PUBLIC__/Admin/assets/img/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="__PUBLIC__/Admin/assets/img/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="__PUBLIC__/Admin/assets/img/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/Admin/assets/img/ico/apple-touch-icon-57-precomposed.png">
    <link rel="icon" href="__PUBLIC__/Admin/assets/img/ico/favicon.ico" type="image/png">

    <style>
        body{
            background: #fff;
        }
    </style>
</head>
<body>
<div class="admin_header">
    <div class="container">
        <div class="col-md-12">
            <a href="{:U('Admin/Login/login')}" class="btn btn-success pull-right">Login</a>
            <a href="{:U('Admin/HomeAct/index')}" class="btn btn btn-primary pull-right" style="margin-right: 15px">Acitity</a>
        </div>
    </div>
</div>
<div id="wrap">
    <div id="main" class="clearfix">
        <div class="container-fluid banner"></div>
        <div class="container">
            <ul class="activity_pc">
                <li class="col-md-6">
                    <a href="{:U('Admin/HomeAct/view', array('act_id'=>$data[0]['act_id']))}" style="background-image: url({$data[0]['banner']})">
                        <div class="activity_pc_tit text-center"><i class="ec-star"></i></div>
                    </a>
                </li>
                <li class="col-md-6">
                    <a href="{:U('Admin/HomeAct/view', array('act_id'=>$data[1]['act_id']))}" style="background-image: url({$data[1]['banner']})">
                        <div class="activity_pc_tit text-center"><i class="ec-star"></i></div>
                    </a>
                </li>
                <li class="col-md-12">
                    <a href="{:U('Admin/HomeAct/view', array('act_id'=>$data[2]['act_id']))}" style="background-image: url({$data[2]['banner']})">
                        <div class="activity_pc_tit text-center"><i class="ec-star"></i></div>
                    </a>
                </li>
                <li class="col-md-4">
                    <a href="{:U('Admin/HomeAct/view', array('act_id'=>$data[3]['act_id']))}" style="background-image: url({$data[3]['banner']})">
                        <div class="activity_pc_tit text-center"><i class="ec-star"></i></div>
                    </a>
                </li>
                <li class="col-md-4">
                    <a href="{:U('Admin/HomeAct/view', array('act_id'=>$data[4]['act_id']))}" style="background-image: url({$data[4]['banner']})">
                        <div class="activity_pc_tit text-center"><i class="ec-star"></i></div>
                    </a>
                </li>
                <li class="col-md-4">
                    <a href="{:U('Admin/HomeAct/view', array('act_id'=>$data[5]['act_id']))}" style="background-image: url({$data[5]['banner']})">
                        <div class="activity_pc_tit text-center"><i class="ec-star"></i></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="footer" class="text-center">
    <p>沪ICP备17002849号 Copyright © www.shjppn.com,All right reserved</p>
</div>
</body>
</html>