<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cash Back System</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/common.css">
    <script>
        function IsPC() {
            var userAgentInfo = navigator.userAgent;
            var Agents = ["Android", "iPhone",
                "SymbianOS", "Windows Phone",
                "iPad", "iPod"];
            var flag = true;
            for (var v = 0; v < Agents.length; v++) {
                if (userAgentInfo.indexOf(Agents[v]) > 0) {
                    flag = false;
                    break;
                }
            }
            return flag;
        }

        var flag = IsPC();

        if(flag) location.href = "{:U('Admin/HomeAct/index')}";
    </script>
    <script src="__PUBLIC__/Admin/assets/js/jquery-1.8.3.min.js"></script>
    <script src="__PUBLIC__/layer/layer.js"></script>
</head>
<body>
<div class="container mar_b50">
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" action="{:U('Home/BackNow/backList')}" method="post">
                <div class="from_box mar_t100 clearfix">
                    <div class="from_box_tit clearfix">
                        <h4>护照号查询</h4>
                    </div>
                    <div class="col-xs-12 mar_b20">
                        <input type="hidden" class="form-control left-icon" name="channel_id" value="{$channel_id}">
                        <input type="text" class="form-control left-icon" name="passport_no" placeholder="请输入护照号">
                        <i class="ec-user left-input-icon"></i>
                    </div>
                    <div class="col-xs-12">
                        <input type='submit' name='sub' class="btn btn-default col-xs-12" id="confirm" value='查询'>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="footer">
    <div class="row">
        <div class="col-xs-6 text-center footer_active">
            <a href="{:U('Home/BackNow/index')}">
                <div class="footer_icon"><i class="ec-search"></i></div>
                <div>护照查询</div>
            </a>
        </div>
        <div class="col-xs-6 text-center">
            <a href="{:U('Home/Act/index')}">
                <div class="footer_icon"><i class="ec-list"></i></div>
                <div>活动列表</div>
            </a>
        </div>
    </div>
</div>
<script>
    $(function() {
        $('#confirm').click(function () {
            var passport_no = $('input[name="passport_no"]').val();
            var channel_id = $('input[name="channel_id"]').val();

            if (passport_no == '') {
                layer.msg('请填写护照号');
                return false;
            }
        });
    })
</script>
</body>
</html>